h1 {
    color: red;
}

.btn-toolbar {
    display: block !important;
}

.btn-sm {
    margin: 0px 5px 0px 5px !important;
    width: 200px !important;
}

.selectSpecialization {
    max-width: 400px;
    margin: 0 auto;
}

.selectedTopics {
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .sticky {
        align-self: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 40px;
    }
}

@media (max-width: 992px) {
    .center-on-mobile {
        text-align: center;
    }
}

.fullCourseBtn {
    background-color: #ccc !important;
}

.btn-top {
    margin: 0px 2px 0px 2px;
}

.btn-spec {
    margin: 0px 5px 0px 5px;
}

.btn-opt {
    margin: 0px 2px 0px 2px;
}

.bigbtn {
    width: 107px;
}

@media (min-width: 1687px) {
    .bigbtn {
        width: 106px;
    }
}

.exchangeInput {
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #171717;
    color: white;
    padding: 2px 0px 2px 0px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerContent {
    background-color: #171717;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: center;
    padding-top: 50px;
}

.plotDiv {
    width: 400px;
    height: 400px;
}

h3 {
    color: #ac93e5;
    font-family: Aldrich;
}

h4 {
    color: #ac93e5;
    font-family: Aldrich;
}

h5 {
    color: #ac93e5;
    font-family: Aldrich;
}

p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.courseOverviewLink {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}

.courseOverviewRemove {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    color: #ac93e5;
    padding-left: 5px;

}

.cancelButton {
    color: #ac93e5;
}

.courseHeader {
    text-align: center;
}

.semesterBox {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.summaryContent {
    /*border-top: 1px solid #c2b3e5;
    border-bottom: 1px solid #c2b3e5;*/
    background-color: #171717;
    color: #c2b3e5;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
}

.recommendationContent {
    background-color: #171717;
    color: #c2b3e5;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.summaryText {
    text-align: right;
}

.summaryContent h4 {
    color: #c2b3e5;
}
.summaryContent h3 {
    color: #c2b3e5;
}

.coursesContent {
    background-color: #171717;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 1000px;
}

.freetextInput {
    padding: 2px 8px;
    outline: none;
    border: none;
    width: 90%;
}

.freetextField {
    max-width: 400px;
    margin: 0px auto;
}

.exportDiv {
    text-align: right;
    padding-right: 40px;
}

.recharts-tooltip-label {
    color: black !important;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
  }

.offset-right-12 {
margin-right: 100%;
}
.offset-right-11 {
margin-right: 91.66666667%;
}
.offset-right-10 {
margin-right: 83.33333333%;
}
.offset-right-9 {
margin-right: 75%;
}
.offset-right-8 {
margin-right: 66.66666667%;
}
.offset-right-7 {
margin-right: 58.33333333%;
}
.offset-right-6 {
margin-right: 50%;
}
.offset-right-5 {
margin-right: 41.66666667%;
}
.offset-right-4 {
margin-right: 33.33333333%;
}
.offset-right-3 {
margin-right: 25%;
}
.offset-right-2 {
margin-right: 16.66666667%;
}
.offset-right-1 {
margin-right: 8.33333333%;
}
.offset-right-0 {
margin-right: 0;
}

@media (min-width: 576px) {
    .offset-sm-right-12 {
      margin-right: 100%;
    }
    .offset-sm-right-11 {
      margin-right: 91.66666667%;
    }
    .offset-sm-right-10 {
      margin-right: 83.33333333%;
    }
    .offset-sm-right-9 {
      margin-right: 75%;
    }
    .offset-sm-right-8 {
      margin-right: 66.66666667%;
    }
    .offset-sm-right-7 {
      margin-right: 58.33333333%;
    }
    .offset-sm-right-6 {
      margin-right: 50%;
    }
    .offset-sm-right-5 {
      margin-right: 41.66666667%;
    }
    .offset-sm-right-4 {
      margin-right: 33.33333333%;
    }
    .offset-sm-right-3 {
      margin-right: 25%;
    }
    .offset-sm-right-2 {
      margin-right: 16.66666667%;
    }
    .offset-sm-right-1 {
      margin-right: 8.33333333%;
    }
    .offset-sm-right-0 {
      margin-right: 0;
    }
}

@media (min-width: 768px) {
    .offset-md-right-12 {
      margin-right: 100%;
    }
    .offset-md-right-11 {
      margin-right: 91.66666667%;
    }
    .offset-md-right-10 {
      margin-right: 83.33333333%;
    }
    .offset-md-right-9 {
      margin-right: 75%;
    }
    .offset-md-right-8 {
      margin-right: 66.66666667%;
    }
    .offset-md-right-7 {
      margin-right: 58.33333333%;
    }
    .offset-md-right-6 {
      margin-right: 50%;
    }
    .offset-md-right-5 {
      margin-right: 41.66666667%;
    }
    .offset-md-right-4 {
      margin-right: 33.33333333%;
    }
    .offset-md-right-3 {
    margin-right: 25%;
    }
    .offset-md-right-2 {
    margin-right: 16.66666667%;
    }
    .offset-md-right-1 {
    margin-right: 8.33333333%;
    }
    .offset-md-right-0 {
    margin-right: 0;
    }
}

@media (min-width: 992px) {
    .offset-lg-right-12 {
    margin-right: 100%;
    }
    .offset-lg-right-11 {
    margin-right: 91.66666667%;
    }
    .offset-lg-right-10 {
    margin-right: 83.33333333%;
    }
    .offset-lg-right-9 {
    margin-right: 75%;
    }
    .offset-lg-right-8 {
    margin-right: 66.66666667%;
    }
    .offset-lg-right-7 {
    margin-right: 58.33333333%;
    }
    .offset-lg-right-6 {
    margin-right: 50%;
    }
    .offset-lg-right-5 {
    margin-right: 41.66666667%;
    }
    .offset-lg-right-4 {
    margin-right: 33.33333333%;
    }
    .offset-lg-right-3 {
    margin-right: 25%;
    }
    .offset-lg-right-2 {
    margin-right: 16.66666667%;
    }
    .offset-lg-right-1 {
    margin-right: 8.33333333%;
    }
    .offset-lg-right-0 {
    margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .offset-xl-right-12 {
    margin-right: 100%;
    }
    .offset-xl-right-11 {
    margin-right: 91.66666667%;
    }
    .offset-xl-right-10 {
    margin-right: 83.33333333%;
    }
    .offset-xl-right-9 {
    margin-right: 75%;
    }
    .offset-xl-right-8 {
    margin-right: 66.66666667%;
    }
    .offset-xl-right-7 {
    margin-right: 58.33333333%;
    }
    .offset-xl-right-6 {
    margin-right: 50%;
    }
    .offset-xl-right-5 {
    margin-right: 41.66666667%;
    }
    .offset-xl-right-4 {
    margin-right: 33.33333333%;
    }
    .offset-xl-right-3 {
    margin-right: 25%;
    }
    .offset-xl-right-2 {
    margin-right: 16.66666667%;
    }
    .offset-xl-right-1 {
    margin-right: 8.33333333%;
    }
    .offset-xl-right-0 {
    margin-right: 0;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ac93e5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ac93e5;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }