.courseBox {
    background-color: #656565;
    padding: 20px 20px 20px 20px;
    background-clip: content-box;
    position: relative;
    height: 160px;
    border-radius: 40px;
}

p {
    margin: 0 0 0 0 !important;
    padding: 2px 0px 2px 0px !important;
}

.btnBox {
    position: absolute;
    right: 30px;
    bottom: 25px;
}

.courseName {
    font-size: 24px;
    position: absolute;
    top: 27px;
    left: 37px;
    color: white;
    font-family: Aldrich;
}

p.courseBox {
    text-align: left;
}

.courseSubname {
    position: absolute;
    top: 54px;
    left: 37px;
    max-width: 77%;
    color: white;
}

.courseTopics {
    position: absolute;
    top: 30px;
    right: 37px;
    color: #171717;
}

.courseTerm {
    position: absolute;
    bottom: 30px;
    left: 37px;
    color: white;
}

.topicsDiv {
    float: left;
}

.extraClass {
font-size: 20px !important;
pointer-events: auto !important;
}

.extraClass:hover {
    visibility: visible !important;
    opacity: 1 !important;
}