.NavbarWrapper {
    background: #4f98ca;
    color: white;
    position: fixed;
  }
  
.Selected {
background: #2963f6;
}

.NavElement {
  padding: 10px 10px;
}

a {
  color: white !important;
}

a:hover {
  color: white !important;
}