.NavbarWrapper {
    background: #ac93e5;
    color: white;
    position: fixed;
  }
  
.Selected {
background: #2963f6;
}

.NavElement {
  padding: 10px 10px;
  text-align: center;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}