.frontContent {
    background-color: #171717;
    min-height: 900px;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.frontContent h3 {
    margin-top: 30px;
}

h4 {
    margin: 20px 0 0 0;
    padding: 0 0 0 0;
}

.frontLink a {
     text-decoration: initial !important;
}